USE [PosDb]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[ImageURL] [nvarchar](255) NULL,
	[CostPrice] [decimal](10, 2) NULL,
	[RetailPrice] [decimal](10, 2) NULL,
	[CreationDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleDetails]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleDetails](
	[SaleDetailId] [int] IDENTITY(1,1) NOT NULL,
	[SaleId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[RetailPrice] [decimal](10, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Discount] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[SaleId] [int] IDENTITY(1,1) NOT NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[SaleDate] [datetime] NOT NULL,
	[SalespersonId] [int] NULL,
	[Comments] [nvarchar](500) NULL,
	[UpdatedDate] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SaleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salesperson]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salesperson](
	[SalespersonId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](50) NOT NULL,
	[EnteredDate] [datetime] NULL,
	[UpdatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SalespersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getdate()) FOR [CreationDate]
GO
ALTER TABLE [dbo].[Sales] ADD  CONSTRAINT [DF_Sales_SaleDate]  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [dbo].[Sales] ADD  CONSTRAINT [DF_Sales_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Salesperson] ADD  DEFAULT (getdate()) FOR [EnteredDate]
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([ProductId])
GO
ALTER TABLE [dbo].[SaleDetails]  WITH CHECK ADD  CONSTRAINT [FK_SaleDetails_Sales] FOREIGN KEY([SaleId])
REFERENCES [dbo].[Sales] ([SaleId])
GO
ALTER TABLE [dbo].[SaleDetails] CHECK CONSTRAINT [FK_SaleDetails_Sales]
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([SalespersonId])
REFERENCES [dbo].[Salesperson] ([SalespersonId])
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([SalespersonId])
REFERENCES [dbo].[Salesperson] ([SalespersonId])
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([SalespersonId])
REFERENCES [dbo].[Salesperson] ([SalespersonId])
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([SalespersonId])
REFERENCES [dbo].[Salesperson] ([SalespersonId])
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateProduct]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateProduct]
    @Name NVARCHAR(100),
    @Code NVARCHAR(50) = NULL,
    @ImageURL NVARCHAR(255) = NULL,
    @CostPrice DECIMAL(10, 2) = NULL,
    @RetailPrice DECIMAL(10, 2) = NULL
AS
BEGIN
    -- Check for duplicate Name or Code
    IF EXISTS (
        SELECT 1 
        FROM Products 
        WHERE Name = @Name OR (@Code IS NOT NULL AND Code = @Code)
    )
    BEGIN
        SELECT -1 AS Result; -- Duplicate found
    END
    ELSE
    BEGIN
        INSERT INTO Products (Name, Code, ImageURL, CostPrice, RetailPrice, CreationDate, UpdatedDate)
        VALUES (@Name, @Code, @ImageURL, @CostPrice, @RetailPrice, GETDATE(), NULL);

        SELECT 1 AS Result; -- Success
    END
END

GO
/****** Object:  StoredProcedure [dbo].[sp_CreateSaleJson]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateSaleJson]
    @SalespersonId INT = NULL,
    @Comments NVARCHAR(500) = NULL,
    @SaleDate DATETIME = NULL,
    @SaleDetailsJson NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @NewSaleId INT, @Total DECIMAL(10,2);

    -- Insert Sale header
    INSERT INTO Sales (Total, SalespersonId, Comments, SaleDate)
    VALUES (0, @SalespersonId, @Comments, ISNULL(@SaleDate, GETDATE()));

    SET @NewSaleId = SCOPE_IDENTITY();

    -- Insert Sale Details from JSON
    INSERT INTO SaleDetails (SaleId, ProductId, RetailPrice, Quantity, Discount)
    SELECT 
        @NewSaleId,
        ProductId,
        RetailPrice,
        Quantity,
        ISNULL(Discount, 0)
    FROM OPENJSON(@SaleDetailsJson)
    WITH (
        ProductId INT,
        RetailPrice DECIMAL(10,2),
        Quantity INT,
        Discount DECIMAL(10,2)
    );

    -- Calculate Total
    SELECT @Total = SUM(RetailPrice * Quantity - ISNULL(Discount,0))
    FROM SaleDetails WHERE SaleId = @NewSaleId;

    UPDATE Sales SET Total = ISNULL(@Total,0) WHERE SaleId = @NewSaleId;

    -- Return inserted Sale + Details
    SELECT * FROM Sales WHERE SaleId = @NewSaleId;
    SELECT * FROM SaleDetails WHERE SaleId = @NewSaleId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteProduct]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteProduct]
    @ProductId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- ✅ Check if product is used in SaleDetails
    IF EXISTS (SELECT 1 FROM SaleDetails WHERE ProductId = @ProductId)
    BEGIN
        -- Product is referenced elsewhere — can’t delete
        SELECT -1 AS Result;  
        RETURN;
    END

    -- ✅ Try to delete
    DELETE FROM Products
    WHERE ProductId = @ProductId;

    -- ✅ Return 1 if deleted, 0 if not found
    IF @@ROWCOUNT > 0
        SELECT 1 AS Result;
    ELSE
        SELECT 0 AS Result;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSale]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteSale]
    @SaleId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Delete sale details first
    DELETE FROM SaleDetails 
    WHERE SaleId = @SaleId;

    -- Delete sale record
    DELETE FROM Sales 
    WHERE SaleId = @SaleId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSaleDetailsBySaleId]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_DeleteSaleDetailsBySaleId]
    @SaleId INT
AS
BEGIN
    SET NOCOUNT ON;
    DELETE FROM SaleDetails WHERE SaleId = @SaleId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSalesperson]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DeleteSalesperson]
    @SalespersonId INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Check if Salesperson exists
    IF NOT EXISTS (SELECT 1 FROM Salesperson WHERE SalespersonId = @SalespersonId)
    BEGIN
        SELECT -1 AS Result
        RETURN
    END

    -- Check for foreign key dependencies
    IF EXISTS (SELECT 1 FROM Sales WHERE SalespersonId = @SalespersonId)
    BEGIN
        SELECT -2 AS Result
        RETURN
    END

    -- Delete the record
    DELETE FROM Salesperson WHERE SalespersonId = @SalespersonId;

    -- Return success
    SELECT 1 AS Result
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetActiveSalespersons]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp_GetActiveSalespersons
CREATE PROCEDURE [dbo].[sp_GetActiveSalespersons]
AS
BEGIN
    SELECT SalespersonId, Name, Code, EnteredDate, UpdatedDate
    FROM Salesperson;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllProducts]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllProducts]
    @PageNumber INT = 1,
    @PageSize INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    -- Calculate offset and start/end index
    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @StartIndex INT = @Offset + 1;               -- 1-based index
    DECLARE @EndIndex INT = @Offset + @PageSize;

    -- Get paged products
    SELECT 
        ProductId,
        Name,
        Code,
        ImageURL,
        CostPrice,
        RetailPrice,
        CreationDate,
        UpdatedDate,
        @StartIndex AS StartIndex,
        CASE 
            WHEN @EndIndex > (SELECT COUNT(*) FROM Products) 
            THEN (SELECT COUNT(*) FROM Products) 
            ELSE @EndIndex 
        END AS EndIndex,
        (SELECT COUNT(*) FROM Products) AS TotalRecords
    FROM Products
    ORDER BY ProductId DESC
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSaleDetails]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllSaleDetails]
    @PageNumber INT = 1,
    @PageSize INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @StartIndex INT = @Offset + 1;
    DECLARE @EndIndex INT = @Offset + @PageSize;

    SELECT
        SaleDetailId,
        SaleId,
        ProductId,
        RetailPrice,
        Quantity,
        Discount,
        @StartIndex AS StartIndex,
        CASE 
            WHEN @EndIndex > (SELECT COUNT(*) FROM SaleDetails) 
            THEN (SELECT COUNT(*) FROM SaleDetails) 
            ELSE @EndIndex 
        END AS EndIndex,
        (SELECT COUNT(*) FROM SaleDetails) AS TotalRecords
    FROM SaleDetails
    ORDER BY SaleDetailId DESC
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSales]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllSales]
    @PageNumber INT = 1,
    @PageSize INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @StartIndex INT = @Offset + 1;
    DECLARE @EndIndex INT = @Offset + @PageSize;

    SELECT 
        s.SaleId,
        s.Total,
        s.SaleDate,
        s.SalespersonId,
        sp.Name AS SalespersonName,
        s.Comments,
        s.CreatedDate,
        s.UpdatedDate,
        @StartIndex AS StartIndex,
        CASE WHEN @EndIndex > (SELECT COUNT(*) FROM Sales) 
             THEN (SELECT COUNT(*) FROM Sales) 
             ELSE @EndIndex END AS EndIndex,
        (SELECT COUNT(*) FROM Sales) AS TotalRecords
    FROM Sales s
    LEFT JOIN Salesperson sp ON s.SalespersonId = sp.SalespersonId
    ORDER BY s.SaleId DESC
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSalespersons]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllSalespersons]
    @PageNumber INT = 1,
    @PageSize INT = 10
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Offset INT = (@PageNumber - 1) * @PageSize;
    DECLARE @StartIndex INT = @Offset + 1;
    DECLARE @EndIndex INT = @Offset + @PageSize;

    SELECT
        SalespersonId,
        Name,
        Code,
        EnteredDate,
        UpdatedDate,
        @StartIndex AS StartIndex,
        CASE 
            WHEN @EndIndex > (SELECT COUNT(*) FROM Salesperson) 
            THEN (SELECT COUNT(*) FROM Salesperson) 
            ELSE @EndIndex 
        END AS EndIndex,
        (SELECT COUNT(*) FROM Salesperson) AS TotalRecords
    FROM Salesperson
    ORDER BY SalespersonId DESC
    OFFSET @Offset ROWS
    FETCH NEXT @PageSize ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetProductById]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp_GetProductById
CREATE PROCEDURE [dbo].[sp_GetProductById]
    @ProductId INT
AS
BEGIN
    SELECT ProductId, Name, Code, ImageURL, CostPrice, RetailPrice, CreationDate, UpdatedDate
    FROM Products
    WHERE ProductId = @ProductId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetSaleById]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ✅ Update sp_GetSaleById
CREATE PROCEDURE [dbo].[sp_GetSaleById]
    @SaleId INT
AS
BEGIN
    SELECT 
        SaleId, 
        Total, 
        SaleDate, 
        SalespersonId, 
        Comments, 
        CreatedDate,    -- ✅ ADDED
        UpdatedDate
    FROM Sales
    WHERE SaleId = @SaleId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetSaleDetailById]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp_GetSaleDetailById
CREATE PROCEDURE [dbo].[sp_GetSaleDetailById]
    @SaleDetailId INT
AS
BEGIN
    SELECT SaleDetailId, SaleId, ProductId, RetailPrice, Quantity, Discount
    FROM SaleDetails
    WHERE SaleDetailId = @SaleDetailId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetSaleDetailsBySaleId]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp_GetSaleDetailsBySaleId
CREATE PROCEDURE [dbo].[sp_GetSaleDetailsBySaleId]
    @SaleId INT
AS
BEGIN
    SELECT SaleDetailId, SaleId, ProductId, RetailPrice, Quantity, Discount
    FROM SaleDetails
    WHERE SaleId = @SaleId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetSalesByDateRange]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ✅ Update sp_GetSalesByDateRange
CREATE PROCEDURE [dbo].[sp_GetSalesByDateRange]
    @StartDate DATETIME,
    @EndDate DATETIME
AS
BEGIN
    SELECT 
        SaleId, 
        Total, 
        SaleDate, 
        SalespersonId, 
        Comments, 
        CreatedDate,    -- ✅ ADDED
        UpdatedDate
    FROM Sales
    WHERE SaleDate BETWEEN @StartDate AND @EndDate
    ORDER BY SaleDate DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetSalesBySalesperson]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ✅ Update sp_GetSalesBySalesperson
CREATE PROCEDURE [dbo].[sp_GetSalesBySalesperson]
    @SalespersonId INT
AS
BEGIN
    SELECT 
        SaleId, 
        Total, 
        SaleDate, 
        SalespersonId, 
        Comments, 
        CreatedDate,    -- ✅ ADDED
        UpdatedDate
    FROM Sales
    WHERE SalespersonId = @SalespersonId
    ORDER BY SaleDate DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetSalespersonByCode]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp_GetSalespersonByCode
CREATE PROCEDURE [dbo].[sp_GetSalespersonByCode]
    @Code NVARCHAR(50)
AS
BEGIN
    SELECT SalespersonId, Name, Code, EnteredDate, UpdatedDate
    FROM Salesperson
    WHERE Code = @Code;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetSalespersonById]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp_GetSalespersonById
CREATE PROCEDURE [dbo].[sp_GetSalespersonById]
    @SalespersonId INT
AS
BEGIN
    SELECT SalespersonId, Name, Code, EnteredDate, UpdatedDate
    FROM Salesperson
    WHERE SalespersonId = @SalespersonId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetSaleTotal]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp_GetSaleTotal
CREATE PROCEDURE [dbo].[sp_GetSaleTotal]
    @SaleId INT
AS
BEGIN
    SELECT ISNULL(SUM((RetailPrice * Quantity) - ((RetailPrice * Quantity) * ISNULL(Discount, 0) / 100)), 0) AS Total
    FROM SaleDetails
    WHERE SaleId = @SaleId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_InsertSalesperson]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertSalesperson]
    @Name NVARCHAR(100),
    @Code NVARCHAR(50),
    @EnteredDate DATETIME = NULL
AS
BEGIN
    -- Check for duplicate Code only
    IF EXISTS (
        SELECT 1 
        FROM Salesperson 
        WHERE Code = @Code
    )
    BEGIN
        SELECT -1 AS Result; -- Duplicate Code found
    END
    ELSE
    BEGIN
        INSERT INTO Salesperson (Name, Code, EnteredDate, UpdatedDate)
        VALUES (@Name, @Code, ISNULL(@EnteredDate, GETDATE()), NULL);

        SELECT 1 AS Result; -- Success
    END
END

GO
/****** Object:  StoredProcedure [dbo].[sp_ProductExists]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp_ProductExists
CREATE PROCEDURE [dbo].[sp_ProductExists]
    @ProductId INT
AS
BEGIN
    SELECT COUNT(*) AS ProductCount
    FROM Products
    WHERE ProductId = @ProductId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_SaleDetailExists]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp_SaleDetailExists
CREATE PROCEDURE [dbo].[sp_SaleDetailExists]
    @SaleDetailId INT
AS
BEGIN
    SELECT COUNT(*) AS SaleDetailCount
    FROM SaleDetails
    WHERE SaleDetailId = @SaleDetailId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_SaleExists]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp_SaleExists
CREATE PROCEDURE [dbo].[sp_SaleExists]
    @SaleId INT
AS
BEGIN
    SELECT COUNT(*) AS SaleCount
    FROM Sales
    WHERE SaleId = @SaleId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_SalespersonExists]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- sp_SalespersonExists
CREATE PROCEDURE [dbo].[sp_SalespersonExists]
    @SalespersonId INT
AS
BEGIN
    SELECT COUNT(*) AS SalespersonCount
    FROM Salesperson
    WHERE SalespersonId = @SalespersonId;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateProduct]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateProduct]
    @ProductId INT,
    @Name NVARCHAR(100),
    @Code NVARCHAR(50) = NULL,
    @ImageURL NVARCHAR(255) = NULL,
    @CostPrice DECIMAL(10, 2) = NULL,
    @RetailPrice DECIMAL(10, 2) = NULL
AS
BEGIN
    -- Check for duplicate Name or Code excluding the current product
    IF EXISTS (
        SELECT 1 
        FROM Products 
        WHERE ProductId <> @ProductId 
          AND  Code = @Code
    )
    BEGIN
        SELECT -1 AS Result; -- Duplicate found
    END
    ELSE
    BEGIN
        UPDATE Products
        SET Name = @Name,
            Code = @Code,
            ImageURL = @ImageURL,
            CostPrice = @CostPrice,
            RetailPrice = @RetailPrice,
            UpdatedDate = GETDATE()
        WHERE ProductId = @ProductId;

        SELECT 1 AS Result; -- Success
    END
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSaleJson]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateSaleJson]
    @SaleId INT,
    @SalespersonId INT = NULL,
    @Comments NVARCHAR(500) = NULL,
    @SaleDate DATETIME = NULL,
    @SaleDetailsJson NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Total DECIMAL(10,2);

    -- Update Sale header
    UPDATE Sales
    SET SalespersonId = ISNULL(@SalespersonId, SalespersonId),
        Comments = ISNULL(@Comments, Comments),
        SaleDate = ISNULL(@SaleDate, SaleDate),
        UpdatedDate = GETDATE()
    WHERE SaleId = @SaleId;

    -- DELETE where RowState = 'Deleted'
    DELETE FROM SaleDetails
    WHERE SaleId = @SaleId
      AND ProductId IN (
          SELECT ProductId
          FROM OPENJSON(@SaleDetailsJson)
          WITH (
              ProductId INT,
              RowState NVARCHAR(20)
          )
          WHERE RowState = 'Deleted'
      );

    -- UPDATE where RowState = 'Modified'
    UPDATE sd
    SET sd.Quantity = j.Quantity,
        sd.RetailPrice = j.RetailPrice,
        sd.Discount = ISNULL(j.Discount,0)
    FROM SaleDetails sd
    INNER JOIN OPENJSON(@SaleDetailsJson)
    WITH (
        ProductId INT,
        RetailPrice DECIMAL(10,2),
        Quantity INT,
        Discount DECIMAL(10,2),
        RowState NVARCHAR(20)
    ) j ON sd.SaleId = @SaleId AND sd.ProductId = j.ProductId
    WHERE j.RowState = 'Modified';

    -- INSERT where RowState = 'Added'
    INSERT INTO SaleDetails (SaleId, ProductId, RetailPrice, Quantity, Discount)
    SELECT 
        @SaleId,
        ProductId,
        RetailPrice,
        Quantity,
        ISNULL(Discount,0)
    FROM OPENJSON(@SaleDetailsJson)
    WITH (
        ProductId INT,
        RetailPrice DECIMAL(10,2),
        Quantity INT,
        Discount DECIMAL(10,2),
        RowState NVARCHAR(20)
    )
    WHERE RowState = 'Added';

    -- Recalculate Total
    SELECT @Total = SUM(RetailPrice * Quantity - ISNULL(Discount,0))
    FROM SaleDetails WHERE SaleId = @SaleId;

    UPDATE Sales SET Total = ISNULL(@Total,0) WHERE SaleId = @SaleId;

    -- Return updated Sale and SaleDetails
    SELECT * FROM Sales WHERE SaleId = @SaleId;
    SELECT * FROM SaleDetails WHERE SaleId = @SaleId;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSalesperson]    Script Date: 11/7/2025 8:05:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateSalesperson]
    @SalespersonId INT,
    @Name NVARCHAR(100),
    @Code NVARCHAR(50),
    @EnteredDate DATETIME = NULL
AS
BEGIN
    -- Check for duplicate Name or Code excluding the current salesperson
  IF EXISTS (
    SELECT 1 
    FROM Salesperson 
    WHERE SalespersonId <> @SalespersonId
      AND Code = @Code
)

    BEGIN
        SELECT -1 AS Result; -- Duplicate found
    END
    ELSE
    BEGIN
        UPDATE Salesperson
        SET Name = @Name,
            Code = @Code,
            EnteredDate = @EnteredDate,
            UpdatedDate = GETDATE()
        WHERE SalespersonId = @SalespersonId;

        SELECT 1 AS Result; -- Success
    END
END

GO
